<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Medio pago</th>
      <th>Direccion envio</th>
      <th>Ciudad envio</th>
      <th>Nombre comprador</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.payment_method %></td>
        <td><%= order.ship_address %></td>
        <td><%= order.ship_city %></td>
        <td><%= order.client_name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Pedido', new_order_path %>
