<br>
<form action="<%= products_path %>" method="get" >

	 <div class=field>
		 <%= label_tag(:Por_categoria) %>
		    <input type="text" name="category" value="<%= params[:category] %>">
		</div>
		
		<div class=field>
		 <%= label_tag(:Por_cantidad_almacen) %>
		    <input type="text" name="stock" value="<%= params[:stock] %>">
		</div>
		
		<div class=field>
		 <%= label_tag(:Por_fecha_alta) %>
		    <input type="text" name="creation_date" value="<%= params[:creation_date] %>">
		</div>
		
		<div class=field>
		 <%= label_tag(:Por_fabricante) %>
		    <input type="text" name="maker" value="<%= params[:maker] %>">
		</div>
		
		 <div class=field>
		 <%= label_tag(:Por_precios) %>
		    <input type="text" name="price" value="<%= params[:price] %>">
		</div>
		
	<button type="submit" class="btn btn-primary"> Aplicar filtros </button>
	
</form>
