<br>

	  	<h1>Filtros para busqueda de productos</h1>

<form action="<%= products_path %>" method="get" >

	 <div class=field>
		 <%= label_tag(:Por_categoria) %>
		    <input type="text" name="category" value="<%= params[:category] %>">
		</div>
		
		<div class=field>
		 <%= label_tag(:Por_cantidad_almacen) %>
		    <input type="text" name="stock" value="<%= params[:stock] %>">
		</div>
		
		<div class=field>
		 <%= label_tag(:Por_fecha_alta) %>
		    <input type="text" name="creation_date" value="<%= params[:creation_date] %>">
		</div>
		
		<div class=field>
		 <%= label_tag(:Por_fabricante) %>
		    <input type="text" name="maker" value="<%= params[:maker] %>">
		</div>
		

	  	<h2>Rango de precios</h2>

	  	
		 <div class=field>
		 <%= label_tag(:Mayor_que) %>
		    <input type="text" name="min_price" value="<%= params[:min_price] %>">
		 <%= label_tag(:menor_que) %>
		    <input type="text" name="max_price" value="<%= params[:max_price] %>">
		</div>
		
	<button type="submit" class="btn btn-primary"> Aplicar filtros </button>
	
</form>
