<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Fecha alta:</strong>
  <%= @product.creation_date %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @product.maker %>
</p>

<p>
  <strong>Cantidad almacen:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @product.category %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
